{% extends 'base.html.twig' %}

{% block title %}Edit Consultation{% endblock %}

{% block body %}
<h1>Edit Consultation</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Update</button>
{{ form_end(form) }}

<a href="{{ path('consultation_index') }}">Back to list</a>
{% endblock %}