<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ChatBot</title>
</head>
<body>

<script>
var botmanWidget = {
    frameEndpoint: 'http://127.0.0.1:8000/botman',
    title: 'Assistant Formation',
    introMessage: "✋ Bonjour ! Je peux vous aider à trouver une formation.",
    mainColor: '#18bfea',
    bubbleBackground: '#18bfea',
    aboutText: '',
    bubbleAvatarUrl: '',
};
</script>
<script src="https://cdn.jsdelivr.net/npm/botman-web-widget@0/build/js/widget.js"></script>

</body>
</html>
