{% extends 'base.html.twig' %}

{% block title %}Dashboard Médecin{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/medecin/dashboard.css') }}">
{% endblock %}

{% block body %}
<div class="portal">

	{% include 'side_bar.html.twig' %}

    <!-- MAIN CONTENT -->
    <main class="portal__main">

        
        <div class="portal__content">   
            <h1>Dashboard Aide Soignant</h1>
            <!-- Contenu du dashboard de l'aide soignant -->
        </div>
    </main>

</div>

{% endblock %}





